name: "DEV DEPLOY"

on:
  push:
    branches:
      - main

permissions:
  id-token: write
  contents: read

jobs:
  terraform:
    uses: ./.github/workflows/terraform.yml
    with:
      environment: prod
      aws-assume-role-arn: "arn:aws:iam::073122651566:role/github-actions-carlosalves77-pipeline"
      aws-region: "us-east-1"
      aws-statefile-s3-bucket: "carlosalves77-us-east-1-terraform-statefile"
      aws-lock-dynamodb-table: "carlosalves77-us-east-1-terraform-lock"
